*~
.*.swp

# Build files
*.o
*.a
*.lo
*.la
*.so
*.so.*
*.dylib
*.cache/

/.deps
/.libs
/utilities/.deps
/utilities/.dirstamp

/Makefile
/libtool
/cfitsio.pc
/config.log
/config.status
/configure.lineno
/cookbook
/fitscopy
/fitsverify
/fpack
/funpack
/imcopy
/listhead
/smem
/speed
/testf77
/testprog

# Mac
._*
*.dSYM

